    /* 以下為footer */
    #footer {
        width: 100%;
        position: relative;
        z-index: 0;
        margin-top: -80px;
    }

    /* 以下為footer上半部 */
    #footer .footer-top {
        width: 100%;
        height: 376px;
        padding: 15px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    /* footer右邊 */
    #footer .footer-top .footer-right {
        display: flex;
        align-items: flex-end;
    }

    /* 右邊icon */
    #footer .footer-top .footer-right .footer-icon .icon-ig,
    .icon-fb {
        margin-left: 15px;
    }
    #footer .footer-top .footer-right .footer-icon .icon-ig  img,
    .icon-fb img{
        width: 50px;
    }

    /* 右邊nav */
    #footer .footer-top .footer-right .footer-nav {
        margin-left: 15px;
    }

    #footer .footer-top .footer-right .footer-nav .footermap {
        line-height: 2;
        color: #A49797;
        transition: 0.3s;
    }
    #footer .footer-top .footer-right .footer-nav .footermap:hover{
    color: #fff;
    }

    /* 中間著作權 */
    #footer .footer-top .footer-text {
        color: #CCA6A6;
        text-align: center;
        letter-spacing: 2px;
        line-height: 1.5;
    }
    /* 這邊是footer的背景 */
    #footer .footer-img{
        position: absolute;
        bottom: 0;
        z-index: -1;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
        width: 100%;
        height: 400px;
    }
    

    #footer .footer-img img{
        position: absolute;
        left: 50%;
        top:0;
        transform: translate(-50%,40px);
    }
/* 這邊是footer動畫 */
    .footer-Jumnps{
        animation-name:Jumps;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
    }
    .footer-Jumnph{
        animation-name:Jumph;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
    }
    @keyframes Jumps{
        0%{
            transform: translate(-50%,400px);

        }
        60%{
            transform: translate(-50%,10px); 

        }
        100%{
            transform: translate(-50%,40px);
        }
    }
    @keyframes Jumph{
        0%{
            transform: translate(-50%,40px);
        }
        40%{
            transform: translate(-50%,10px); 

        }
        100%{
            transform: translate(-50%,400px);

        }
        
    }